/ {
    keymap {
        compatible = "zmk,keymap";

        bindings = <
            &kp A  // Button 1 -> A
            &kp W  // Button 2 -> W
            &kp S  // Button 3 -> S
            &kp D  // Button 4 -> D
        >;
    };
};
